@import url("responsive.css");
*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #0F0F0F;
    color: white;
    font-family: "Roboto","Arial",sans-serif;
}
#contenedorSuperior{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-around;
}
#izquierdo{
    width: 173px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    margin-left: -30px;
}
#menu
{
    width: 20px;
    height: 20px;
    clip-path: circle(50%);
    margin-top:5px;
    padding:10px;
}
#menu > button
{
    width: 20px;
    height: 20px;
    border:none;
    background: none;
}
#menu:hover{
    background-color:#272727;
}
#menu > button > div {
    border: 0.2px white solid;
    margin:4px 0px 4px 0px;
}
#logo-icon{
    width: 90px;
    height: 20px;
    padding: 18px 14px 18px 16px;
}
#centro{
    width: 736px;
    height: 44px;
    background-color: #0F0F0F;
    display:flex;
    justify-content: flex-end;
    margin:5px;
}
#searchbox{
    display:flex;
}
#search{
    border: 2px #272727 solid;
    width: 515px;
    height: 40px;    
    visibility: visible;
    border-radius: 20px 0px 0px 20px;
    display: flex;
}
#search > #lupaizq > img{
    width: 20px;
    height: 20px;
    display:none;
}
#search > input{
    background-color:transparent;
    border:none;
    color:aliceblue;
    width: 490px;
    height: 24px;
    font-size: 18px;
    margin: 7px 0px 0px 18px;

}
#search > input:focus{
    outline: none;
}
#search:has(input:focus){
    border: 2px #1C62B9 solid;
    width: 568px;
}
#search:has(input:focus) > #lupaizq > img {
    display: block;
    display: block;
    margin:10px 0px 0px 12px;
}
#searchbox > #lupaboton{
    background-color:#272727;
    width: 60px;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    border:2px #272727 solid
}
#searchbox > #lupaboton > button{
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    background-image: url('assets/lupa.png');
    background-size: 25px 25px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 7px 0px 7px 20px;
}
#microfono{
    background-color: #272727;
    width: 40px;
    height: 40px;
    clip-path: circle(50%);
    margin-left: 20px;

}
#microfono:hover{
    background-color: #3D3D3D;
}
#microfono > button{
    border:none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url('assets/microfono.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
}
#derecho{
    width: 229px;
    height: 44px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-top:1px;
    margin-right: -20px;
}
#derecho > #derechoContent {
    width: 140px;
    height: 44px;
    display:flex;
}
#derecho > #derechoContent  > div{
    width: 25px;
    height: 25px;
    margin:10px 20px 10px 0px;
}
#derecho > div > div > img{
    width:32px;
    height:32px;
    clip-path:circle(50%);
}
#campana, #camara{
    filter:invert(100%);
}
#sidebar {
    width: 240px;
    height: 450px;
    padding: 5px;
    overflow-y: scroll;
}
.contentExt{
    width: 204px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.contentInt{
    display:flex;
    width: 180px;
    height: 40px;
}
.contentExt:hover{
    background-color: grey;
}
.iconInt{
    width: 24px;
    height: 24px;
    filter: invert(100%);
    margin:5px;
}
.textInt{
    margin:10px;
    width: 158px;
    height: 19px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#textTu{
    width: 18px;
    height: 22px;
    margin: 10px 5px 0px 0px;
}
#iconTu{
    width: 16px;
    height: 16px;
    filter: invert(100%);
    margin:12px 0px 0px 0px;
}